<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('app_accueil')}}">SYMFONY</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{path('app_accueil')}}">ACCUEIL
          </a>
        </li>
      </ul>
      <form class="d-flex">
            {% if app.user %}
                <a href="{{path('app_logout')}}" class="btn btn-secondary my-2 my-sm-0" type="submit">DECONNEXION</a>
            {% else %}
                <a href="{{path('app_login')}}" class="btn btn-success my-2 my-sm-0" type="submit">CONNEXION</a>
            {% endif %}
            
      </form>
    </div>
  </div>
</nav>