{% extends "base.html.twig" %}


{% block title %}
Produits depuis Json
{% endblock %}

{% block body %}
<div class="container" id="produits-parent">

</div>
<script src="{{asset('js/produits.js')}}" type="application/javascript"></script>
{% endblock %}